@use "../abstracts"as *;

.zerif_full_site {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: fixed;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 3;
        background: rgba(0, 0, 0, 0.5);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.content-section {
    padding: 22.5rem 0 0;
    height: fit-content;
    position: relative;
    z-index: 3;
    overflow-x: hidden;

    .header-section {
        @include resizeTrick;

        padding-bottom: 15rem;

        .content-intro {
            padding: 7.5rem 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3.5rem;

            &__text {
                text-align: center;
                font-size: 5.5rem;
                line-height: 6.5rem;
                color: #fff;
                text-transform: uppercase;
                word-wrap: break-word;

                div {
                    text-transform: uppercase;
                    font-family: inherit;
                }
            }

            h3 {
                font-size: 3rem;
                color: #fff;
                text-align: center;
                font-family: 'Montserrat', Helvetica, sans-serif;
            }

            .button {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                &-link {
                    width: fit-content;
                    display: inline-block;
                    height: 5rem;
                    padding: 1.3rem 3.5rem;
                    font-size: 1.4rem;
                    line-height: 1.4;
                    color: #fff;
                    text-transform: uppercase;
                    background: rgba(252, 95, 69, 0.8) !important;
                    border-radius: .5rem;
                    border-width: .2rem;
                    border-style: solid;
                    border-color: #fc5f45;

                    &:hover {
                        border-width: 2px;
                        border-style: solid;
                        border-color: #fc5f45 !important;
                        background: #fc5f45 !important;
                        color: #63565a;
                    }
                }
            }
        }
        @include Responsive(tablet) {

            .content-intro {
                &__text {
                    font-size: 4.1rem;
                    line-height: 4.9rem;
                }
            }
        }
        @include Responsive(mobile) {
            
                .content-intro {
                    &__text {
                        font-size: 3.2rem;
                        line-height: 3.7rem;
                    }
                }
                
            
        }
    }

    .shortcodes-section {
        background-color: rgba(255, 255, 255, 1);
        width: 100vw;


        .padding-page.shortcodes {
            @include resizeTrick;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10rem 0;

            .shortcodes-header {
                width: 100%;
                text-align: center;

                h2 {
                    font-size: 4.5rem;
                    line-height: 4rem;
                    color: #2e3037 !important;
                    font-weight: 700;
                    text-align: center;
                }
            }

            .shortcodes-widget {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                column-gap: 3rem;

                &-item {
                    max-width: 100%;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .title {
                        text-transform: uppercase;
                        margin-bottom: 3rem;
                        font-weight: bold;
                        font-size: 1.7rem;
                        position: relative;
                        color: #404040;
                        width: fit-content;
                        text-align: center;

                        &::after {
                            position: absolute;
                            margin: auto;
                            z-index: 1;
                            content: "";
                            width: 75%;
                            height: 2px;
                            background: #e96656;
                            bottom: -9px;
                            left: 12.5%;
                        }
                    }

                    .description {
                        word-wrap: break-word;
                        text-align: center;
                        font-family: 'Titillium Web', sans-serif !important;
                        color: #919495 !important;
                        font-size: 1.4rem;
                        line-height: 1.5;
                    }
                }
            }
        }
    @include Responsive(tablet) {
        .padding-page.shortcodes {
            .shortcodes-widget {
                grid-template-columns: 1fr;
                row-gap: 7.5rem;
            }
        }
    }
    @include Responsive(mobile) {
        .padding-page.shortcodes {
            .title-section {
                h2 {

                    font-size: 6.5vw;
                }
            }
        }
    }
    
    }

    .about-us-section {
        width: 100vw;
        background-color: #2e3037;
        height: fit-content;
        padding: 10rem 0;

        .padding-page.about {
            padding-bottom: 10rem;
            @include resizeTrick;

            .about-header {
                padding-bottom: 7.5rem;
                text-align: center;

                h2 {
                    color: #fff;
                }
            }

            .about-content {
                display: grid;
                max-width: 100%;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 3rem;

                &-title {

                    max-width: 100%;

                    h3 {
                        width: 100%;
                        max-width: 100%;
                        color: #fff;
                        font-weight: 300;
                        font-size: 6rem;
                        line-height: 1.3;
                        text-align: right;
                        font-family: 'Titillium Web', sans-serif;
                    }
                }

                &-desc {
                    p {
                        text-align: left;
                        font-size: 1.4rem;
                        line-height: 2.5rem;
                        color: #919495 !important;
                        font-family: "Titillium Web", sans-serif !important;
                        padding: 1.5rem 0;
                    }

                    p:nth-child(1) {
                        a {
                            font-size: inherit;
                            font-family: inherit;
                            line-height: inherit;
                            color: #f44e00;
                        }
                    }

                }

                &-skills {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    &-item {
                        display: flex;

                        .number-wrapper {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 7px solid #f44e00;
                            border-radius: 50%;

                            .number {
                                color: white;
                                font-size: 14px;

                            }
                        }

                        &-desc {
                            margin-left: 1.2rem;
                            color: rgb(192, 205, 207);
                            text-transform: uppercase;
                            font-size: 1.6rem;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .padding-page.about-customer {
            @include resizeTrick;

            .line-header {
                width: 100%;
                height: 5px;
                border-top: #4c4c4c 1px solid;
                border-bottom: #4c4c4c 1px solid;
                color: white;
                font-size: 1.6rem;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;

                &:after {
                    content: "OUR CUSTOMERS";
                    background: rgba(39, 39, 39, 1);
                    padding: 0.2rem 1.5rem;

                }
            }

            .about-customer-list {
                margin-top: 4rem;
                padding-top: .5rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                max-width: 100%;
                gap: 2.5rem;

                &-item {
                    width: 13rem;
                    height: 13rem;

                    a {
                        display: block;
                        max-width: 100%;
                        max-height: 100%;

                        &:hover img {
                            opacity: 1;
                        }

                        img {
                            width: 13rem;
                            height: 13rem;
                            max-width: 100%;
                            max-height: 100%;
                            border-radius: 1rem;
                            opacity: 0.8;
                            transition: opacity linear .2s;
                        }
                    }
                }
            }
        }
        @include Responsive(mdesk) {
            .padding-page.about {
                .about-header.title-section {
                    h2 {
                        font-size: 6.5vw;
                    }

                }
                .about-content {
                    grid-template-columns: 1fr;
                    text-align: center;
                    &-title {
                        text-align: center;
                        padding-bottom: 4rem;
                        h3 {
                            text-align: center;
                            font-size: 8vw;
                        }
                    }
                    &-skills {
                        gap: 2.5rem;
                    }
                }
            }
           
        }
        
    }

    .our-team-section {
        padding: 10rem 0;
        background-color: #ffffff;

        .our-team {
            @include resizeTrick;

            &-header {
                h2 {
                    color: #2e3037;
                    margin-bottom: 1rem;
                }

                h6 {
                    color: #919495;
                    font-size: 1.6rem;
                    line-height: 1.6;
                }
            }

            &-list {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1.5rem;
                padding: 0 6rem;
                &-member {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    padding-bottom: 3.5rem;
                    border-radius: .5rem;

                    .member-img {
                        width: 17.4rem;
                        height: 17.4rem;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-bottom: 2.5rem;

                        img {
                            object-fit: cover;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }

                    .member-details {
                        padding-bottom: 1rem;
                        text-align: center;

                        &-name {
                            margin: 1.5rem 0;
                            text-transform: uppercase;
                            color: #404040;
                            font-weight: 700;
                            position: relative;
                            margin-top: 15px;
                            font-size: 17px;

                            &::after {
                                content: "";
                                position: absolute;
                                height: 2px;
                                width: 75%;
                                background-color: #fc5f45;
                                bottom: -9px;
                                left: 12.5%;
                            }
                        }

                        &-position {
                            color: #919495 !important;
                            font-size: 14px !important;
                        }
                    }

                    .member-socials {
                        display: flex;
                        gap: .5rem;

                        a {
                            font-size: 1.8rem;
                            padding: .3rem;

                            &:hover i {
                                color: #f44e00;
                            }

                            i {
                                transition: color linear .3s;
                                color: #808080;

                            }

                        }
                    }

                    &:hover .member-brief-desc {
                        top: 0;
                        opacity: 1;
                        transition: all linear .6s;
                        border-radius: .5rem;

                    }

                    .member-brief-desc {
                        background: #333;
                        width: 100%;
                        min-height: 19rem;
                        position: absolute;
                        left: 0;
                        top: -20rem;
                        opacity: 0;
                        transition: all linear .8s;
                        border-radius: .5rem;
                        overflow: hidden;

                        p {
                            color: #fff;
                            padding: 1.5rem;
                            text-align: left;
                            font-size: 1.3rem;
                            line-height: 2.0rem;
                        }
                    }
                }
            }
        }
        @include Responsive(tablet) {
            .our-team {
                &-list {
                    grid-template-columns: 1fr 1fr;
                    justify-items: center;
                }
            }
        }
        @include Responsive (mobile) {
            .our-team {
                &-list {
                    grid-template-columns: 1fr;
                }
            }
        }
    }

    .testimonial-section {
        padding: 10rem 0;
        background-color: #fc5f45;

        .testimonial {
            @include resizeTrick;

            &-header {
                h2 {
                    color: #fff;
                }
            }

            &-feedback {
                display: flex;
                justify-content: center;
                gap: 2.6rem;
                &-box {
                    width: 30%;
                    padding: 2.5rem;
                    background-color: #ffffff;
                    height: fit-content;
                    .feedback-messages {
                        max-width: 100%;
                        color: #334346 !important;
                        font-family: 'Titillium Web', sans-serif;
                        font-size: 1.5rem;
                        font-weight: normal;
                        line-height: 1.5;
                    }

                    .feedback-client {
                        margin-top: 3rem;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        &-quote-left {
                            align-self: flex-start;
                            font-size: 4.5rem;
                            color: #919495;
                        }

                        &-info {
                            align-self: center;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            font-family: inherit;
                            font-size: 16px;
                            font-weight: bold;
                            .name {
                                color: #909090;
                                
                            }

                            .position {
                                color: black;
                                font-weight: normal;
                                font-size: 1.4rem;
                            }
                        }
                        &-img {
                            width: 7rem;
                            height: 7rem;
                            border-radius: 50%;
                            overflow: hidden;
                            align-self: flex-end;
                            margin-right: 1rem;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        @include Responsive (mdesk) {
            .testimonial {
                &-feedback {
                    flex-direction: column;
                    align-items: center;
                    &-box {
                        width: 70%;
                        .feedback-client {
                            display: flex;
                            align-items: center !important;
                            justify-content: space-between;
                            flex-direction: row;
                        }

                    }
                }
            }
        }
        @include Responsive(tablet) {
            .testimonial {
                &-feedback {
                    
                    &-box {
                        width: 100%;
                        .feedback-client {
                            justify-content: flex-start;
                            &-img {
                                display: none;
                            }
                        }
                       

                    }
                }
            }
        }
    }

    .map-section {
        background-color: #fff;
        height: 50rem;
        width: 100%;
        overflow: hidden;
        .map-api{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    .contact-section {
        padding: 10rem 0;
        background-color: transparent;
        .contact {
            @include resizeTrick;
            &-header {
                h2 {
                    color: #fff;
                    text-transform: capitalize;
                }
            }
            &-form {
                width: 100%;
                form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    .contact-form-infos {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        column-gap: 3rem;
                        input {
                            height: 46px;
                            padding: .9rem 1.5rem;
                            background: rgba(255,255,255, 0.95);
                            border-radius: .4rem;
                            font-size: 1.4rem;
                            outline: none;
                            color: #1f2124 ;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            &:focus {
                                border-color: #66afe9;
                            }
                        }
                    }
                    .contact-form-message {
                        width: 100%;
                        textarea {
                            font-size: 1.4rem;
                            color: #1f2124 ;
                            width: 100%;
                            min-height: 25rem;
                            padding: .9rem 1.5rem;
                            outline: none;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            border-radius: .4rem;
                            &:focus {
                                border-color: #66afe9;

                            }
                        }
                    }
                    .contact-form-btn {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        margin: 1rem 0;
                        a {
                            display: flex;
                            align-items: center;
                            color: #fff;
                            background-color: #f44e00;
                            padding: 1.3rem 3.5rem;
                            cursor: pointer;
                            height: 4.7rem;
                            border: none;
                            border-radius: .5rem;
                            text-align: center;
                            font-size: 1.4rem;
                            font-weight: bold;
                            font-family: inherit;
                            text-transform: uppercase;
                            &:hover {
                                color: #f44e00;
                                text-transform: uppercase;
                                background-color: #cb4332 !important;
                            }
                        }
                    }
                }
            }
        }
        @include Responsive (tablet) {
            .contact {
                &-form {
                    form {
                        .contact-form-infos {
                            grid-template-columns: 1fr;
                            row-gap: 2rem;
                        }
                        .contact-form-btn {
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
    
}